.header {

}
.nav-bar {
    display: flex
}
.tab {
    padding: 10px
}
.btn {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: rgb(179, 172, 172);
    cursor: pointer;
}
.active, .btn:hover {
background-color: wheat;
color: black;
}
#main-body {
    display: flex
}
.video-container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 300px));
    grid-auto-rows: 540px;
}
.container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 300px));
    grid-auto-rows: 400px;
}
.project {
    display: flex;
    align-items: center;
}
/* .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
    grid-auto-columns: 150px;
}  */
.container img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}
.video-container video {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}
#topBtn {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 50px;
    font-size: 15px;
    border: none;
    outline: none;
    background-color: rgb(179, 172, 172);
    color: black;
    cursor: pointer;
    padding: 15px;
}
#topBtn:hover {
    background-color: wheat;
  }



